body {
    background-color: #D0CFEC;
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
}

h1 {
    margin: 20px 40px;
    text-align: left;
    font-size: 4em;
}

h2 {
    margin: 10px 0;
    font-size: 2em;
}

a {
    text-decoration: none;
}

/* header with title and navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #6A8E7F;
    color: #EDC7CF;
    height: 150px;
}

.freespaceforheader {
    margin: 150px 0 20px 0;
}

/*navigation buttons in header*/
.navbuttons {
    display: flex;
}

.row1 {
    display: flex;
    position: relative;
    margin: 20px 0;
}

.row1content {
    flex-grow: 4;
    margin: 0 50px;
}

/* links that look like buttons */
.buttonLook {
    background-color: #EDC7CF;
    color: #6A8E7F;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLook:hover {
    background-color: #6A8E7F;
    color: #EDC7CF;
}

.buttonLook:active {
    background-color: #6A8E7F;
    color: #EDC7CF;
}

.mediumButton {
    display: block;
    margin: 10px 40px;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

.menuButton {
    display: block;
    margin: 0 10px;
    width: 6em;
    padding: 0.2em;
}

.filterButton {
    margin: 0 2px;
    width: 2em;
    padding: 0.2em;
}

.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 160px;
}

.nextButtonDiv {
    position: fixed;
    right: 10px;
    top: 160px;
}

.bottom {
    background-color: #6A8E7F;
    color: #EDC7CF;
    height: 30px;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom p {
    margin-left: 40px;
}

div.info {
    width: 240px;
    display: inline-block;
    margin-left: 20px;
}

div.info + div {
    display: inline-block;
}

p { margin: 5px; }

.activeFilter {
    background-color: #f3a4b4;
    color: #2b3e35;
}

.filters {
}

.onefilter {
    margin: 2px 0;
    display: flex;
}

.filtername {
    width: 10em;
    padding: 0.2em;
    text-align: right;
}