<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
  <title>About pagina</title>
</head>
<body>
<div class="nav">
  <h1>Let's Party!</h1>
  <div class="navbuttons">
    <a class="buttonLook menuButton" href="/home">home</a>
    <a class="buttonLook menuButton" href="/venuedetails">venuedetails</a>
    <a class="buttonLook menuButton" href="/about">about</a>
  </div>
</div>
<div class="freespaceforheader"></div>
<div class="row1">
  <div class="row1content">
    <div>
      <h1>About me</h1>
      <p>This is all about me...</p>
      <ol>
        <li th:text="${name}">naam</li>
        <li th:text="${street}">straat</li>
        <li th:text="${city}">gemeente</li>
      </ol>

      <p th:text="|Ik ben ${name} en woon in ${street} te ${city}|"></p>

      <p><a th:href="@{/}">home</a></p>
    </div>
  </div>
</div>
</body>
</html>