<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
  <title>Homepagina</title>
</head>
<body>
<div class="row1">
  <div class="row1content">
    <div>
      <h1>Homepagina</h1>
      <p th:text="${myCalculatedValue}">onbekend nummer</p>

      <p><a th:href="@{/about}">about</a></p>
    </div>
  </div>
</div>
</body>
</html>