<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
  <title>Venuedetails pagina</title>
</head>
<body>
<div class="nav">
  <h1>Let's Party!</h1>
  <div class="navbuttons">
    <a class="buttonLook menuButton" href="/home">home</a>
    <a class="buttonLook menuButton" href="/venuedetails">venuedetails</a>
    <a class="buttonLook menuButton" href="/about">about</a>
  </div>
</div>
<div class="freespaceforheader"></div>
<div class="row1">
  <div class="row1content">
    <div>
      <h2 th:text="${venue.getVenueName()}">Naam venue</h2>
    </div>
    <div>
      <div class="info">Info : </div>
      <div><a th:href="@{${venue.getLinkMoreInfo()}}" th:text="${venue.getLinkMoreInfo()}">klik hier</a></div><br>
      <div class="info">Capacity : </div>
      <div><p th:text="${venue.getCapacity()}">0</p></div><br>
      <div class="info">Food provided? : </div>
      <div><p th:text="${venue.isFoodProvided() ? 'yes' : 'no'}">no</p></div><br>
      <div class="info">Indoor? : </div>
      <div><p th:text="${venue.isIndoor() ? 'yes' : 'no'}">no</p></div><br>
      <div class="info">Outdoor? : </div>
      <div><p th:text="${venue.isOutdoor() ? 'yes' : 'no'}">no</p></div><br>
      <div class="info">Free Parking Available? : </div>
      <div><p th:text="${venue.isFreeParkingAvailable() ? 'yes' : 'no'}">no</p></div><br>
      <div class="info">Distance Public Transport in km : </div>
      <div><p th:text="${venue.distanceFromPublicTransportInKm}">0</p></div><br>
      <div class="info">City : </div>
      <div><p th:text="${venue.getCity()}">?/p></div>
    </div>
  </div>
</div>
</body>
</html>